<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mr.Frost</title>	
  </head>  

  <body>
    
    <h1>As Cold As Ice</h1>
        <h2>A Criminal Kingpin, some call Mr.Frost a monster, some call him crazy. Or should we say called..</h2>
            <h3>Here you can get the details on Mr.Frost's heists and jobs. These are high risk, high reward jobs that only the best can do. Take care to follow the instructions as written, to allow for maximum success.</h3>
                <h4>Featured Jobs:</h4>
                    <h5><a href="zancudo.html">The Zancudo Job</a></h5>
                    <h5><a href="missionrow.html">The Mission Row</a></h5>
  </body>
</html>