<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Zancudo Job</title>	
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    <style>
     #top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 8px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
    </style>
  <body>
    <div>
      <h1><i>The Zancudo Job</i></h1>
        <p><code>60 tons of fun. A heavily-armored battle tank with a 1,500hp turbine engine and a 120mm cannon. Why wouldn't you want to break into the most secure location in Los Santos to get one?</code></p>
    </div>
      <img src= /static/RhinoTank-GTAV-front.png>
    <div>
      <h1>The Rundown:</h1>
        <p>Mr.Frost has contracted you to break into Fort Zancudo, and steal a Rhino Tank. With a little finesse and good timing the job should be easy.</p>
        <h2>Roles:</h2>
          <h3><u>Driver</u></h3>
            <p>Drives the Armoured Truck into Fort Zancudo</p>
          <h3><u>Passenger</u></h3>
            <p>Actually steals the tank</p>
          <h3><u>Pilot</u></h3>
            <p>Flies into the base in a Velum, and rides out in the Armoured Truck</p>
          <h3><u>Exit Strategy</u></h3>
            <p>Flies the Cargobob into Fort Zancudo</p>
      <br>
        <h2>Setup:</h2>
          <h3>Armoured Truck</h3>
            <img src='static\PoliceRiot-GTAV-front.png'> 
            <p>Steal a NOOSE Armoured Truck from the Police Impound on the corner of Innocence and Roy Lowenstein Boulevards. Bring this to Mckenzie Airfield, with no police presence. The Pilot should move their personal vehicle to the parking garage near Maze Bank Executive Offices, and Del Perro Heights. Place it on the roof.</p>
          <h3>Final Prep</h3>
            <img src= 'static\Cargobob-GTAV-front.png'> <img src= 'static\Velum-GTAV-front.png'>
            <p>Have The Exit Strategy practice picking up vehicles with the Cargobob. Specifically, large dump trucks. The Driver should move the armoured truck to the intersection of the Route 68 and the entrance to Fort Zancudo. The Passenger/The Pilot should practice their parachuting.</p>
      <br>
        <h2>The Day:</h2>
          <h3>Phase 1</h3>
            <img src='static\Phase1Map.jpg'height = 1000 width =750>
            <p>The Pilot/The Passenger board the Velum at Mckenzie Airfield, and head towards Fort Zancudo. As soon as it is hit, jump!. As soon as the Velum is over the base, the Driver should drive into the base, and draw the fire of the soldiers. The Pilot needs to stay safe, and run interference for The Passenger. The Driver should pick up The Pilot, and protect The Passenger.</p>
          <h3>Phase 2</h3>
            <img src='static\Phase2Map.jpg'height = 1000 width =750>
            <p>The Passenger hijacks the tank, and gets in it. The Exit Strategy fires up the Cargobob, and flies towards the base. They move over to the airstrip section of the base, followed closely by the Armoured Truck. The Exit Strategy should come in for the approach, and pick up the tank. The Armoured Truck should protect both The Passenger and The Exit Strategy until this is complete. Then, the Armoured Truck zooms out of the base.</p>
          <h3>Phase 3</h3>
            <img src='static\Phase3Map.jpg'height = 1000 width =750>
            <p>The Armoured Truck makes its way to the parking structure, but take the long way. The Exit Strategy should evade the police, and drop The Passenger off at Mckenzie Airfield. The Exit Strategy should coordinate with The Driver to ensure that the Exit Strategy will be in place at the right time. The Exit Strategy should then pick up the vehicle, and head back to Mckenzie Airfield.</p>
      <br>      
        <h2>Precautionary Actions:</h2>
          <h3>Authorities</h3>
            <p>Mr. Frost has allocated $1000 to be used to pay Lester to remove wanted levels.</p>
          <h3>Pursuit</h3>
            <p>For The Exit Strategy, you can usually escape the authorities in the cliffs near the ocean. For The Driver, you can usually escape the authorities in the forests, or in the suburban areas.</p>        
          <h3>Weaponry</h3>
            <p>Mr. Frost asks that you keep weapon firing outside of the Fort to a minimum. This is to keep the authorities off your tail the fastest. Mr. Frost will not pay for your weapons, so make every bullet count.</p>
    </div>
    </body>

</head>  

</html>